<tr>
    <td>
    {{ run.id }}
    </td>
    <td>
        {{ run.car_number }}
        {% if run.team_name or run.team_abbreviation %}
            –
            <span class="team-abbr custom-break">{{ run.team_abbreviation }}</span>
            <span class="team-name custom-break">{{ run.team_name }}</span>
            <span class="d-none d-lg-inline">
                <span class="team-name">{{ run.team_name }}</span> (<span class="team-abbr">{{ run.team_abbreviation }}</span>)
            </span>
        {% endif %}
    </td>
    <td>
        {{ run.raw_time_left }}
    </td>
    <td>
        {{ run.raw_time_right }}
    </td>
    <td>
        {{ run.cones }}
    </td>
    <td>
        {{ run.off_course }}
    </td>
    <!--<td>
        {% if run.dnf is none %}{{ '' }}{% else %}{{ run.dnf }}{% endif %}
    </td>-->
    <td>
        {{ run.adjusted_time }}
    </td>
</tr>