<div class="modal fade" id="addRunModal" tabindex="-1" aria-labelledby="addRunModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRunModalLabel">Add New Run</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">             
                <form id="addRunForm" method="POST" action="{{ url_for('main.add_run') }}">
                    {{ addRunForm.hidden_tag() }}
                    <div class="mb-3">
                        {{ addRunForm.car_number.label(class="form-label") }}
                        {{ addRunForm.car_number(class="form-select") }}
                    </div>
                    <div class="mb-3">
                        {{ addRunForm.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('addRunForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);
    
      fetch('{{ url_for("main.add_run") }}', {
        method: 'POST',
        body: formData,
      })
      .then(response => response.json())
      .then(data => {
        if (data.status === 'success') {
          showAlert('success', data.message);
          // Close the modal
          var myModalEl = document.getElementById('addRunModal');
          var modal = bootstrap.Modal.getInstance(myModalEl);
          modal.hide();
          updateRunsTable();
          // Optionally, refresh part of the page or show a success message
        } else {
          // Handle errors
          showAlert('danger', 'Error: ' + data.message);
        }
      })
      .catch(error => {
        console.error('Error:', error);
        showAlert('danger', 'An unexpected error occurred.');
      });
    });
  });

  function showAlert(type, message) {
    const alertContainer = document.getElementById('alert-div');
    const alert = document.createElement('div');
    alert.className = `alert alert-${type} alert-dismissible fade show`;
    alert.role = 'alert';
    alert.innerHTML = `
      ${message}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    `;
    alertContainer.appendChild(alert);
  }
</script>