<tr>
    <td>
        <!-- Checkbox here, not sure if this is the correct way to do it. How do we validate which one was checked?
        {% if cb %}
            {{ wtf.quick_form(cb) }}
        {% endif %} -->
        <input type="checkbox" id="run_{{ run.id }}" name="selected_runs" value="{{ run.id }}-{{run.tag}}">
    </td>
    <td>
        {{ run.id }}
    </td>
    <td>
        {{ run.team_name }}
    </td>
    <td>
        {{ run.location }}
    </td>
    <td>
        {{ run.tag }}
    </td>
    <td>
        {{ run.car_number }}
    </td>
    <td>
        {% if run.cones != 0 %}
            {{ run.cones }}
        {% endif %}
    </td>
    <td>
        {% if run.off_courses != 0 %}
            {{ run.off_courses }}
        {% endif %}
    </td>
    <td>
        {{ run.raw_time }}
    </td>
    <td>
        {{ run.adjusted_time }}
    </td>
</tr>