<tr name="run_row" id="{{run.id}}">
    <td>
        <input type="checkbox" id="run_{{ run.id }}" name="selected_runs" value="{{ run.id }}-{{run.car_number}}">  
    </td>
    <td>
        {{ run.id }}
    </td>
    </td>
    <td>
        {{ run.car_number }}
    </td>
    <td>
        {% if run.cones is not none and run.cones != 0 %}
            {{ run.cones }}
        {% endif %}
    </td>
    <td>
        {% if run.off_course is not none and run.off_course != 0 %}
            {{ run.off_course }}
        {% endif %}
    </td>
    <td>
        <div class="cell-content">
            {{ run.raw_time }}
            <span class="edit-icon" onclick="editRun('{{ run.id }}')">
                <i class="bi bi-pencil-square"></i>
            </span>
        </div>
    </td>

    <td class="{% if  run.dnf is not none and 'DNF' in run.dnf %} table-danger {% elif (run.cones != 0 or run.off_course != 0) and run.raw_time|float < 1 %}bg-warning{% elif run.raw_time|float == 0 and run.cones == 0 and run.off_course == 0 %}table-success{% endif %}">
        {{ run.adjusted_time }}
    </td>
</tr>