{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h2>Cones Leaderboard</h2>
    <div class="row align-items-start">
        <div class="col">
            <table class="table table-hover">
                <tr>
<th>Team Name</th>
<th>Car Number</th>
<th>Cones</th>
                </tr>
                {% for run in runs %}
                    {% include '_cone_board_entry.html' %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}