{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h2>Table Goes Here</h2>
    {% if form %}
    <form method="POST" action="/runtable">
        {{ form.hidden_tag() }}
        <div class="row align-items-start">
            <div class="col">
                <table class="table table-hover">
                    <tr>
                        {% for col in cols %}
                            {% include '_run_header.html' %}
                        {% endfor %}
                    </tr>
                    {% for run in runs %}
                        {% include '_run.html' %}
                    {% endfor %}
                </table>
            </div>

        </div>
        <div class="row">
            <div class="bottom-fixed">
                <div class="col-lg" align="center">
                        {{ wtf.quick_form(form) }}
                        <input class="btn btn-dark mb-3" id="deselect" name="deselect" type="reset" value="Deselect All">
                </div>
            </div>
    </form>
    {% endif %}

{% endblock %}