{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <h2>Top Times</h2>
    <div class="row align-items-start">
        <div class="col">
            <table class="table table-hover">
                <tr>
                    {% for col in cols %}
                        {% include '_run_header.html' %}
                    {% endfor %}
                </tr>
                {% for run in runs %}
                    {% include '_toplap.html' %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}