[Unit]
Description=TrafficLightRelayBoardActuator
#After=network.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/relaypi/Documents/TrafficLightActuator/TrafficLightActuator.py
WorkingDirectory=/home/relaypi/Documents/TrafficLightActuator/
Restart=always
User=relaypi
Group=relaypi
Type=simple

[Install]
WantedBy=multi-user.target