<tr>
    <td>
        <!-- Checkbox here, not sure if this is the correct way to do it. How do we validate which one was checked? -->
        {% if cb %}
            {{ wtf.quick_form(cb) }}
        {% endif %}
    </td>
    <td>
        {{ run.id }}
    </td>
    <td>
        {{ run.team_name }}
    </td>
    <td>
        {{ run.location }}
    </td>
    <td>
        {{ run.tag }}
    </td>
    <td>
        {{ run.car_number }}
    </td>
    <td>
        {{ run.off_courses }}
    </td>
    <td>
        {{ run.raw_time }}
    </td>
    <td>
        {{ run.adjusted_time }}
    </td>
</tr>